.loader {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	gap: 5px;
	width: 30px;
	height: 30px;
}

.loader>span {
	background-color: #E2B714;
	border-radius: 5px;
}

.loader>span:nth-child(1) {
	width: 10px;
	height: 10px;
	animation: loading1 infinite 2s ease-in-out;
}
.loader>span:nth-child(2) {
	width: 10px;
	height: 20px;
	animation: loading2 infinite 2s ease-in-out;
}
.loader>span:nth-child(3) {
	width: 10px;
	height: 30px;
	animation: loading3 infinite 2s ease-in-out;
}

@keyframes loading1 {
	0% {
		height: 10px;
	}
	50% {
		height: 30px;
	}
	100% {
		height: 10px;
	}
}
@keyframes loading2 {
	0% {
		height: 20px;
	}
	50% {
		height: 20px;
	}
	100% {
		height: 20px;
	}
}
@keyframes loading3 {
	0% {
		height: 30px;
	}
	50% {
		height: 10px;
	}
	100% {
		height: 30px;
	}
}