@import-normalize;
@import '~reset-css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700');

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto Mono';
	font-size: 14px;
	font-weight: 300;
	background-color: #323437;
	color: #D1D0C5;
	letter-spacing: .09rem;
	line-height: 1.2;
	user-select: none;
}

.correct {
	color: rgb(0, 188, 81);
}

.uncorrect {
	color: rgb(212, 0, 0);
}

.current {
	position: relative;
}

.current::after {
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: yellow;
	opacity: 1;
	animation: blinking infinite 1s ease-in-out;
}

@keyframes blinking {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}